@{
    Layout = "_ConfigurePlugin";
}
@model ConfigurationModel
@using Grand.Framework;
@using Grand.Plugin.Payments.Payture.Models;
@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="PaymentPayture" asp-action="Configure" method="post">
    @(await Html.LocalizedEditor<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, model => model.Locales[item].DescriptionText, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="@Model.Locales[item].DescriptionText" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-textarea asp-for="@Model.Locales[item].DescriptionText"></admin-textarea>
                    <span asp-validation-for="@Model.Locales[item].DescriptionText"></span>
                </div>
            </div>
            <input asp-for="@Model.Locales[item].LanguageId" type="hidden" />
        </div>
    </div>
    ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, model => model.DescriptionText, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="DescriptionText" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-textarea asp-for="DescriptionText"></admin-textarea>
                    <span asp-validation-for="DescriptionText"></span>
                </div>
            </div>
        </div>
    </div>
    ,
    //localizable settings per store (overrriden store settings) are not supported yet
    true
    ))
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.Host_OverrideForStore, model => model.Host, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="Host" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="Host" />
                    <span asp-validation-for="Host"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.MerchantId_OverrideForStore, model => model.MerchantId, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="MerchantId" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="MerchantId" />
                    <span asp-validation-for="MerchantId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.Password_OverrideForStore, model => model.Password, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="Password" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                    <input type="submit" name="save" class="btn green" value="@T("Admin.Common.Save")" />
                </div>
            </div>
        </div>
    </div>
</form>